/* NEWS-PAGE GENERAL */

#page-news {
  @include all-section-general-settings;

  text-align: center;
}

/* BUTTON */

.news-button {
  display: inline-block;
  width: 136px;
  height: 53px;
  margin-left: 0;
  padding: 16px 30px;

  font-size: 12.8px;

  line-height: 150%;

  background: none;

  border: 1px solid;
}

/* NEWS-ELEMENTS */

.news-body h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

@media screen and (max-width: 700px) {
  .news-body h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

.orange-text {
  color: $orange;
}

.news-item {
  justify-content: space-between;
}

.news-body {
  width: 575px;

  margin-right: 0;

  text-align: left;
}

.news-item img {
  width: 575px;
  height: 286px;
}

@media screen and (max-width: 700px) {
  .news-body {
    width: 100%;
  }

  .news-item img {
    width: 374px;
    height: 186px;
  }
}

.news-author {
  margin-top: 24px;
  margin-bottom: 48px;

  font-weight: normal;
  font-size: 12.8px;
  text-transform: uppercase;
}

.news-author img {
  width: 19px;
  height: 19px;
}

@media screen and (max-width: 700px) {
  .news-author {
    margin-top: 23px;
  }
}

/* ATOMIC */

.pb-48 {
  margin-bottom: 48px;
}

.mt-65 {
  margin-top: 65px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-mr-16 {
  margin-right: 16px;
  margin-left: 16px;
}

.ml-50 {
  margin-left: 50px;
}

.w-100 {
  width: 100%;
}

button {
  color: $gray;
}

@media screen and (max-width: 700px) {
  .mb-30 {
    margin-top: 50px;
    margin-bottom: 16px;
  }

  .ml-50 {
    margin-left: 0;
  }

  .pb-1 {
    padding-bottom: 1rem;
  }

  .mt-65 {
    margin-top: 64px;
  }
}
